/* * {
  outline: 1px solid red;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

#io-neuron-display {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto;
    /* max-width: 100%;    */
}

#grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 15px; /* Space for scrollbar */
}

.grid-cell {
    width: 75px; /* Fixed width for each cell */
    height: 75px; /* Fixed height for each cell */
    background-color: #f0f0f0;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.scroll {
    max-width: 90vw; /* Adjust as needed */
    max-height: 80vh; /* Adjust as needed */
    overflow-x: auto;
    overflow-y: auto;
    background-color: gray;
}

/* For webkit browsers like Chrome/Safari */
.scroll::-webkit-scrollbar {
    height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* For Firefox */
.scroll {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}